@model SosD.ViewModels.PresupuestoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Presupuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoPrendaId" class="control-label"></label>
                <select asp-for="TipoPrendaId" class="form-control" asp-items="ViewBag.TipoPrendaId"></select>
                <span asp-validation-for="TipoPrendaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Imagen" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Seleccione el archivo</label>
                </div>
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiseñoId" class="control-label"></label>
                <select asp-for="DiseñoId" class="form-control" asp-items="ViewBag.DiseñoId"></select>
                <span asp-validation-for="DiseñoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioUni" class="control-label"></label>
                <input asp-for="PrecioUni" class="form-control" />
                <span asp-validation-for="PrecioUni" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
