@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div class="Home">

        <img src="~/images/logoSosD.png" alt="Logo SOS-D"class="imagen"/>
       
    </div>

</body>


<style>
    body {
        
    }

    .Home {
        
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;
    }
    .imagen {
        width: 100%;
        height: auto;
        max-width: 100%; 
        margin: 0 auto; 
    }

</style>
